*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

nav{
    background:#007bff;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

ul{
    list-style:none;
    display:flex;
}

ul li{
    margin-left:20px;
}

ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px;
    background-image: url("career.jpg");
    background-size: cover;
    
}

.hero h1{
    font-size:50px;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
}

.featured{
    padding:30px;
    background-image:url("icon.jpg") ;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
}

.card{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

button{
    padding:10px 15px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:5px;
}
.text{
    text-align: center;
     padding:100px;

}
.Message{
     padding:100px;
     text-align: center;
     background-image:url("icon.jpg") ;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
}
.word{
    padding:100px;
     text-align: center;
     background-image:url("icon.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
}
.word h1{
    font-size: 60px;
    color: black;
    margin-bottom: 30px;
}
.word input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}
.word button{
    width: 200px;
    height: 55px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    color:white;
    cursor: pointer;
}
.place{
    padding:100px;
     text-align: center;
     background-image:url("icon.jpg");
     background-size: cover;
     width: 100%;
     height: 100vh;
}
.job{
     background-image:url("icon.jpg");
     background-size: cover;
     width: 100%;
     height: 100vh;
}
